.searchform__container_short {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 48px;
}
@media (max-width: 768px) {
    .searchform__container_short {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 38px;
    }
  }