.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #073042;
    height: 74px;
  }
  
   @media (max-width: 768px) {
    .header {
    
    }
  }
  
  /* @media (max-width: 320px) {
    .header {
      margin: 0px;
    }
  }  */