.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #073042;
    height: 74px;
  }
  
  /* @media (max-width: 1024px) {
    .header {
      margin-left: 48px;
      margin-right: 48px;
    }
  }
  
  @media (max-width: 320px) {
    .header {
      margin: 0px;
    }
  } */