.header__links_account-around-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 26px;
    background-color: #F5F5F5;
    border-radius: 4px;
    margin-left: 18px;
}