.promo {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin: 0 auto;
    border-bottom: thick solid #689f38;
    background-color: #073042;
    height: 522px;
  }
  