.footer__container_links {
    display: flex;
    flex-direction: row;
}
@media (max-width: 500px) {
    .footer__container_links  {
       flex-direction: column;
       align-items: center;
    }
  }